PUBLIC_PRICE_LEVANTAMIENTO=0
PUBLIC_PRICE_DISENO_ARQ=0
PUBLIC_PRICE_PLANOS_ELEC=0
PUBLIC_PRICE_PLANOS_HIDRO=0
PUBLIC_PRICE_PLANOS_ESTR=0
PUBLIC_PRICE_PLANOS_VOZ=0
PUBLIC_PRICE_APROBACION=0
PUBLIC_PRICE_VISITA=0
PUBLIC_PRICE_OBRA_NEGRA_HORMIGON=160
PUBLIC_PRICE_OBRA_NEGRA_METALICA=180
PUBLIC_PRICE_OBRA_GRIS_HORMIGON=270
PUBLIC_PRICE_OBRA_GRIS_METALICA=290
PUBLIC_PRICE_OBRA_BLANCA_HORMIGON=310
PUBLIC_PRICE_OBRA_BLANCA_METALICA=330
PUBLIC_PRICE_OBRA_HABITABLE_HORMIGON=360
PUBLIC_PRICE_OBRA_HABITABLE_METALICA=390
PUBLIC_PRICE_LLAVE_MANO_HORMIGON=460
PUBLIC_PRICE_LLAVE_MANO_METALICA=480
CDN_URL=https://cdn.example.com
GOOGLE_PROJECT_ID=your-google-id
GOOGLE_CLIENT_EMAIL=your-google-client-mail
GOOGLE_PRIVATE_KEY=your-google-private-key
GOOGLE_CALENDAR_ID=your-google-client-id
TURNSTILE_SECRET_KEY=your-turnstile-secret-key
TURNSTILE_SITE_KEY=your-turnstile-site-key
