/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-complex: 'complex', serif;
  --century-gothic: 'century-gothic', sans-serif;

  --color-text: #12100f;
  --color-background: #f2f1f1;
  --color-background-rgb: 242, 241, 241;
  --color-primary: #4d4229;
  --color-accent: #a08d61;
  --color-muted: #767354;
  --color-muted-rgb: 118, 115, 84;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --border-radius: 8px;
}

[data-theme='dark'] {
  --color-text: #f3f4f6;
  --color-background: #000;
  --color-background-rgb: 242, 241, 241;
  --color-primary: #4d4229;
  --color-accent: #a08d61;
  --color-muted: #767354;
  --color-muted-rgb: 118, 115, 84;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  line-height: 1.6;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 700;
}

p {
  font-family: var(--century-gothic);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

/* Ajustes para móvil */
@media (max-width: 768px) {
  .container {
    padding: 0 var(--spacing-md);
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 var(--spacing-sm);
  }
}
